@model DateTime

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @Model.ToLongTimeString();

    @Html.ActionLink("Clear Cache", "Index", "ClearCache");
</div>
</body>
</html>